In [1]:
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
plt.rc("figure", figsize=(10, 6))
np.set_printoptions(precision=4)
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80

## General idea

In this notebook, we are figuring out the institutions with access to computers and internet:

## Load data

In [2]:
# First we are loading the technology data from census:

df1 = pd.read_csv("Tenencia, acceso y uso de  bienes  y servicios TIC por sede educativa .csv",
                   delimiter=";")          # año 2019

df2 = pd.read_csv("Tenencia, acceso y uso de los bienes y servicios TIC por sede educativa2.CSV",
                    delimiter=",",
                    encoding="ISO-8859-1") # año 2022

## Concat the data

In [3]:
data = pd.concat([df1, df2], ignore_index=True)

## Reindexing the needed variables

In [4]:
data = data.reindex(columns=['SEDE_CODIGO', 'PERIODO_ANIO',
                             'SEDETE_INTERNET', 'SEDETE_EQUIPO_COMPUTO'])

In [5]:
data = data.astype({'SEDETE_INTERNET': 'float64',
                    'SEDETE_EQUIPO_COMPUTO': 'float64'})

In [6]:
data

         SEDE_CODIGO  PERIODO_ANIO  SEDETE_INTERNET  SEDETE_EQUIPO_COMPUTO
0       308758003315          2019              1.0                    1.0
1       308001075769          2019              1.0                    1.0
2       268500000174          2019              0.0                    1.0
3       205145000522          2019              0.0                    0.0
4       325307001507          2019              1.0                    1.0
...              ...           ...              ...                    ...
106707  368081002867          2022              1.0                    1.0
106708  350001002903          2022              1.0                    1.0
106709  376248000961          2022              1.0                    1.0
106710  219807001126          2022              1.0                    0.0
106711  219743000741          2022              0.0                    1.0

[106712 rows x 4 columns]

## Exporting this dataframe

In [7]:
# data.to_csv("acceso_tecnologico.csv")